.icons {
    @include flex($gap: $spacer);

    &__item {
        position: relative;
    }

    &__count {
        position: absolute;
        top: 2px;
        color: $blue-dark;
        height: 100%;
        width: 100%;
        font-size: 12px;
        font-weight: 600;
        font-family: sans-serif;

        @include flex($jc: center, $ai: center);
    }
}