.input-search {
    padding: $spacer;
    border: 1px solid $grey;
    border-radius: 3px;

    &::placeholder {
        font-size: 14px;
        color: rgba($grey, 0.5);
    }
}

.input-radio {
    &__label {
        position: relative;
        padding-left: $spacer-3;
        cursor: pointer;

        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            width: 15px;
            height: 15px;
            border: 1px solid $blue-dark;
            border-radius: 3px;
            transform: translateY(-50%);
            transition: 0.3s;
        }
    }

    &__input:checked + .input-radio__label::after {
        border-width: 5px;
    }
}
