.nav {
    &__list {
        @include flex($ai: center, $gap: $spacer);
    }

    &__link {
        padding: $spacer $spacer-2;
        transition: .3s;

        &:hover {
            color: $red;
        }
    }

    &__link--active {
        color: $red;
    }
}
