.tabs {
    padding: $spacer-2 0;
    flex-wrap: wrap;
    
    @include flex($jc: center, $ai: center, $gap: $spacer);

    &__item {
        @include btn($white);
        
        color: $black;
    }

    &__item--active {
        pointer-events: none;
        opacity: 0.6;
    }
}