.tooltip {
    display: none;
    position: relative;

    &__message {
        width: 150px;
        position: absolute;
        bottom: $spacer-2;
        left: 50%;
        padding: $spacer;
        background-color: $grey;
        color: $bg-light;
        font-size: 12px;
        border-radius: 3px;
    }
}