@mixin flex($dir: row, $jc: flex-start, $ai: flex-start, $gap: 0) {
    display: flex;
    flex-direction: $dir;
    justify-content: $jc;
    align-items: $ai;
    gap: $gap;
}

@mixin btn($color) {
    padding: $spacer $spacer-2;
    background-color: $color;
    color: white;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: rgba($color, 0.7);
    }    
}