$spacer: 8px;
$spacer-2: $spacer * 2;
$spacer-3: $spacer * 3;

$bg-light: #FAFAFA;
$white: #ADD3EF;
$blue-dark: #473B7A;
$red: #DB5461;
$grey: #686963;
$black: #000000;

$box-shadow: 2px 0px 5px rgba($black, 0.3);
