@import '../utils/all';

body {
    background-color: $bg-light;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1440px;
    padding: 0 $spacer-2;
    margin: auto;
}

.main {
    padding: $spacer-3 $spacer-2;
}

.hidden {
    display: none !important;
}